*{
    overflow-x:  hidden;
}
body{

    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    direction: rtl;

     margin: 0px;

    background-image:url(images/ym.jpg);
    background-repeat: no-repeat;
    background-size:cover;  
}
.hide{
    display: none;
}
.show{
display: flex;
}

h1,h2{
    width: 100vw;
    color: aliceblue;
    z-index: 1;
    text-shadow: black 2px 2px 2px;
}

img{
    width: 100%;
    opacity: 100%;
  
}
a{
    text-decoration: none;
}
button{
    border-style: none;
    background-color: transparent;
}

/* ---------דף 1-התחברות/הרשמה--- */

.form{
    background-color: rgb(244, 243, 243);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 30vw;
    height: 70vh;
    margin-right: 10vw;

  
    border:black;
    border-style: solid;
    border-width: 0.2rem;

    font-size: large;
    font-weight: bold;

 
    input{
        padding: 1rem;
    }
    button{
        width: 100%;
        background-color: rgb(248, 132, 16);
        padding: 1rem;
        border: none;
        font-size: large;
        color:rgb(12, 11, 10);
        font-weight: bold;
        
    }
    button:hover{
        background-color: rgb(255, 148, 25);

    }
    a{
        font-size: small;
        text-decoration: underline;
    }
}
#register{
    input{
        font-weight: bold;
        font-size: large;
    }
}
/* --------דף 2-המסלולים ------- */
.category{
    opacity: 70%;
    background-color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 20px;

    width: 30vw;
    height: 35vh;
    
    border-radius: 5%; 
    margin-bottom: 0px;
    
    font-size: xx-large;
    font-weight:bold;
    color: rgb(21, 81, 117);
}
.category:hover{
    opacity:90%;
}
#group{
    margin-top: 20vh;
    margin-left: 0px;
 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:40px;
   
}
/* ------page1--------- */

.next{
   
        background-color: rgb(231, 83, 105);
        color: aliceblue;
        font-size: x-large;
        padding: 2rem;
        position: fixed;
        left: 20px;
        bottom: 10px;
        border-radius: 5%;
        width: 10rem;
    }

   
.next:hover{
    background-color: red;
}
.shopping_cart{
    width: 5rem;
    position: fixed;
    left: 5vw;
    top: 10px;
    background-color: #fff;
    opacity: 70%;
    border-radius: 5%;
    padding: 0.5rem;
    z-index: 3;
}  
.shopping_cart:hover{
    opacity: 100%;
}   

.order{
    flex-direction:row; 
    color: rgb(6, 69, 106);
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.list{
    opacity: 70%;
    background-color: #fff;
    
   border-color: black;
   border-width: 1rem;

    display: inline-flex;
    align-items: center;
    
    gap: 2rem;
    width: 100vw;
    padding: 2rem;
}
#time{
    font-size:larger;
    align-items: center;
}

/* ------page2------ */
#yachts{
    gap: 15px;

    h2{
        width:100vw;
        margin: 0px;
    }
}
.yacht{
    opacity: 70%;
    background-color: aliceblue;

    opacity: 100%;

    width: 25vw;
    span{
        margin-top: 0.5rem;
    }
    img{
        width: 100%;
    }
    button{
        background-color: rgb(10, 156, 156);
        color:#fff;
        padding: 0.5rem;
    } 
    button:hover{
        opacity: 60%;
       
    } 
    button:active{
        background-color: coral;

    }
}

/* ------page3-------- */
 #attractions{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    padding:7rem;
    padding-top: 0px;
    padding-bottom: 1rem;
    h2{
        margin: 0px;
    }
}
   
.fun{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: 100%;
        border-style:double;
        padding: 1vw;
        border-width:0.4rem;
        margin-bottom: 1rem;
    }
    button{
        background-color:white;
        padding: 1rem;
        width: 100%;
        font-size: larger;
        
        border: none;

        opacity: 90%;
      
    }
   
}
/* -----page4----- */
#celebration{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    gap:2vw;
    h2{
        margin: 0px;
    }

   .b{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 2rem;
    padding-bottom: 2rem;

    font-size: x-large;
   
    width:22vw;
    background-color: #fff;
    padding: 5vw;
    border-radius: 5%;
    opacity: 70%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;

}
.b:hover{
    opacity: 100%;
}
}



/*------------------ page 5 cart------------*/

.plan{
    width: 70vw;
    background-color: #fff;
    border-radius: 2%;
    scroll-margin-right:0px;

    img{
        width: 6vw;
    }
    p{
       display: flex;
       justify-content: flex-start;
       align-items: center;
       gap: 1rem;
       
       font-size: larger;
       font-weight: bold;
       text-align: center;
       color: black;

       margin-right: 10vw;
       margin-top: 3rem;
       margin-bottom: 3rem;
    }
    opacity: 70%;
}

/* -------------- ההפלגות שלך----------*/
#last_orders{
    gap: 2rem;
}
#no_order{
    font-size: xx-large;
    font-weight: bolder;
}
.detail{
    width: 40vw;
    p{
        margin-right: 5vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
}